.attachedFilePreview {
    cursor: pointer;
    width: 64px !important;
    height: 64px !important;
    border-radius: 18px !important;
    max-width: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagePreview {
    width: 400px !important;
    height: 400px !important;
    max-width: none !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}