form {
    width: 100%;
}

h1, h2, h3, h4, p, li {
    color: black !important;;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
}
