.ProjectPreviewCard {
    cursor: pointer;
    padding: 30px 20px;
    border-radius: 12px;
    background: white;
    transition: 200ms;
    outline: 2px solid white;

    &:hover {
        background: rgba(255 255 255 / 60%);
        outline: 2px solid #0A2C5C;
        backdrop-filter: blur(4px);
    }
}