.ProjectPreviewCard {
    min-width: 400px;
    cursor: pointer;
    padding: 30px 20px;
    border-radius: 12px;
    background: white;
    transition: 200ms;

    &:hover {
        box-shadow: 4px 4px 20px 0 #0A2C5C;
    }
}