:root {
    --bg-color: #303030;
    --bg-gradient: linear-gradient(139deg, #FFF9E7 0%, #C7D5E3 100%);
    --inverted-bg-color: #f0f0f0 ;

    // текст
    --primary-color: #f0f0f0;
    --second-text-color: #828282;
    --input-text-color: #383838;

    // цвета
    --btn-bg-color: #0A2C5C
}
